.card1 ol {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.card1 ol li {
 padding-bottom: 5px;
}

.table {
  width: 75%;
}

.table td {
  padding-bottom: 5px;
}

.table td:nth-child(1) {
  color: rgb(16, 7, 90);
}